@font-face {
    font-family: catamaran;
    src: url(/fonts/Catamaran-Thin.ttf);
}

body {
    margin: 0;
    background: black;
}

.main-content {
    max-width: 1170px;
    margin: 0 auto;
}

.container {
    position: relative;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
}

.col-50 {
    float: left;
    padding: 15px;
    width: calc(50% - 30px);
}

.col-100 {
    text-align: center;
    float: none;
    padding: 15px;
    width: calc(100% - 30px);
}

.col-33 {
    float: left;
    padding: 15px;
    width: calc(33.33% - 30px);
}

.yellow-background {
    background: rgb(255, 238, 0)
}

.white-background {}

.pic-background {
    background-image: url('../img/bg-cta.jpg')
}

.section1 {
    background-image: url(/img/bg-pattern.png), linear-gradient(to right, #DA2431, #7A4397);
    background-repeat: repeat;
}

.section1-text {
    font-family: catamaran;
    font-size: 175%;
    color: white;
    max-width: 55%;
    margin-top: 20%;
    margin-left: 45%;
}

.section1-button {
    margin-left: 45%;
    margin-bottom: 20%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 14px 40px;
    text-align: center;
    font-size: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.section1-button:hover {
    border: 1px solid #fdcc52;
    background-color: #fdcc52;
}

.section1-img {
    float: right;
    max-width: 50%;
    margin-top: 10%;
    margin-right: 45%;
    margin-bottom: 15%;
}

img {
    max-width: 100%;
}