@font-face {
    font-family: catamaran;
    src: url(/fonts/Catamaran-Thin.ttf);
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: muli;
    src: url(/fonts/Muli-Light.ttf);
}

body {
    margin: 0;
    overflow: auto;
    background: black;
}

.main-content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.top-content {
    background-image: url(/img/bg-pattern.png), linear-gradient(to right, #DA2431, #7A4397);
    background-repeat: repeat;
    overflow: hidden;
}

.col-50 {
    float: left;
    padding: 15px;
    width: calc(50% - 30px);
}

.navbar {
    font-family: catamaran, Helvetica, Arial, sans-serif;
    padding: 5px;
}

.nav-left {
    position: relative;
    left: 18%;
    width: calc(50% - 10px);
    color: #fdcc52;
    font-size: 95%;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar-right {
    position: relative;
    left: 54%;
    padding: 8px;
    color: white;
    font-size: 67%;
    letter-spacing: 3px;
    text-decoration: none;
}

.section1-text {
    position: relative;
    left: 43%;
    top: 100px;
    width: 280px;
    font-family: catamaran, Helvetica, Arial, sans-serif;
    font-size: 180%;
    color: white;
    line-height: 130%;
}

.section1-img {
    float: right;
    right: 43%;
    position: relative;
    top: 50px;
    width: 300px;
}

.section1-button {
    position: relative;
    left: 43%;
    top: 110px;
    padding: 14px 40px;
    font-family: lato, Helvetica, Arial, sans-serif;
    font-size: 62%;
    text-align: center;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.section1-button:hover {
    border: 1px solid #fdcc52;
    background-color: #fdcc52;
}